<!-- <app-diretiva-ngIf></app-diretiva-ngIf> -->
<!-- <app-diretiva-ngSwitch></app-diretiva-ngSwitch> -->
<!-- <app-diretiva-ngFor></app-diretiva-ngFor> -->
<!-- <app-diretiva-ngClass></app-diretiva-ngClass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->


<app-exemplo-ng-content>
  <div class="titulo">
    <h1>Titulo de teste.</h1>

  </div>
  </app-exemplo-ng-content>

<app-exemplo-ng-content>
  <div class="corpo">
    <h1>Conteúdo passado para o componente.</h1>

  </div>
</app-exemplo-ng-content>
